.center {
    text-align: center;
    background-color: #C5D3E8;
    font-size: 50px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-top: 30px;
}

.body {
    background-color: #FFF8DE;
    height: 100%;
}

.footer {
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
    margin-top: auto;
    background-color: #C5D3E8;
    padding-bottom: 30px;
}

.font-color {
    color: #3D0301;
}

.barre-recherche {
    font-size: 18px;
    margin-left: 20px;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}
.liste-elements {  
    margin-top: 10px;  
    font-size: 14px;

}

.search-bar {
    font-size: 15px;
    margin-top: 15px;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
